body {
    margin: 0;
}

.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.d3,
.fc {
    font-family: sans-serif;
    min-width: 400px;
    max-width: 600px;
    height: max-content;
    flex: 1 0 auto;
}

.d3 > *,
.fc > * {
    margin: 8px;
    border: 1px solid grey;
    border-radius: 4px;
    padding: 8px;
}

.d3 > * { margin-right: 4px; }
.fc > * { margin-left: 4px; }

.chart {
    height: 60vh;
}

.code {
    font-family: monospace;
    font-size: 0.75rem;
    white-space: pre-wrap;
}

.annotation-line, .y-label {
    font-size: 0.75rem;
}