body {
    margin: 0;
}

.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.d3, .fc {
    font-family: sans-serif;
    margin: 16px;
    border: 1px solid grey;
    border-radius: 4px;
    padding: 8px;
    min-width: 400px;
    max-width: 600px;
    flex: 1 0 auto;
}
.d3 { margin-right: 8px; }
.fc { margin-left: 8px; }

.annotation-line, .y-label { font-size: 0.75rem; }